@model SinglePokedexEntry
@{
    ViewData["Title"] = $"{Model.PokedexId} : {Model.Name}";
    int prevId = Model.PokedexId - 1;
    int nextId = Model.PokedexId + 1;
}

<img src="@Model.ProfileImageUrl" />

<h1>@Model.PokedexId : @Model.Name</h1>
<p>Weight: @Model.Weight</p>
<p>Height : @UnitConversionHelper.DecimetersToFeetAndInches(Model.Height)</p>

@if (Model.Abilities != null
  && Model.Abilities.Count != 0)
{
    <h2>Abilities</h2>
    <ul>
        @foreach (string ability in Model.Abilities)
        {
            <li>@ability</li>
        }
    </ul>
}
else
{
    <p>This pokemon does not have any abilities</p>
}
<br />
<button><a asp-action="Index" asp-route-id="@nextId">Next</a></button>
<button>Go to @nextId</button>